/***************** BOOTSTRAP *****************/

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}




@font-face {
    font-family: Mont;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
   
}

/***************** BOOTSTRAP *****************/


/***************** CURSOR *****************/
.p {
  position:absolute;
  z-index: -1;
  top:-6px;
  left:-3px;
  width:5px;
  height:5px;
  border-radius:50%;
  background:radial-gradient(rgba(0,255,0,.5),rgba(0,255,0,0));;
}
/***************** CURSOR *****************/







/***************** MENU *****************/

#menu{
    background-color: #181818;
    height: 100vh;
    display :flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 8.5em;
    overflow: hidden;
    text-align: center;
    position: fixed;
}

#logo{
    display: flex;
    flex-wrap: wrap;
    position: relative ;
    top: 0%;
    left: 0;
    padding-top: 15%;
    margin-left: 21%;
    border-bottom: solid 1px rgba(194, 199, 196, 0.301);
    padding-bottom : 1.25em ;

}

.identity{
    margin-bottom: 5em;
    padding-bottom: 4%;
    font-size: 1.1em;
    background-color: black;
  }

.identity h4{
  padding-left: 5%;
  padding-right: 5%;
}
.identity p{
  font-size: 13px;
  color: #909096;
}

.sidenav a::before {
    top: 0; bottom: 0; left: 0; 
    height: 100%; width: 0%;
    transition: 0.3s ease-out;
  }
  .sidenav a:hover::before {
    width: 100%;
  }

  .links{
    border-top: solid 1px #282828;
  }

  .sidenav{
    margin-bottom: 7em;
    color: #909096;
  }

  .sidenav a {
    padding : 1.25em 0;
    text-decoration: none;
    color: #909096;
    display: block;
    font-size: small;
    transition: 0.2s;

  }
  #lasta{
      border-bottom:solid 1px #282828;
  }
  
  .sidenav a:hover {
    color:rgb(9, 241, 9);
    transition: 0.2s 0.1s;

  }

.social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 2em;
}  



@media all and (max-width: 1000px){
    #menu{
      display: none;
    }
    .toggleBurgerBtn{
      display: block;
    }

    .toggleBurgerMenu{
    display: none;
  
  }


}

@media all and (min-width: 1000px){
  #menu{
    display: block;
  }
  .toggleBurgerBtn{
    display: none;
  }
  .toggleBurgerMenu{
    display: none;
    
  }

}







            /************** BURGER  ******************/


            /* .toggleBurgerBtn:checked ~ .toggleBurgerMenu {
              height: 100vh;
              display: flex; 
              flex-direction: column; 
              justify-content: space-between; 
              background-color: #181818;
              
            } */
            .toggleBurgerBtn{
              background-color: black;
              position: absolute;
            }
            .burgerIdentity{
              background-color: black;
              display: flex;
              align-items: center;
              flex-direction: column;
            }
            .burgerIdentity p{
              font-size: 10px;
              margin: 6px;
              color: #909096;
            }
            .burgerIdentity h4{
              font-size: 12px;
              margin: 6px;
              
            }
            
            .toggleBurgerMenu .linksBurger{
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              background-color: #181818;
            }

            .toggleBurgerMenu .linksBurger a{
              display: flex;
              padding: 20px;
              color: #909096;
              text-decoration: none;
              justify-content: center;
              width: 100vw;
            }

            .socialBurger{
              display: flex;
              justify-content: center;
              padding-bottom: 8px;              
              
            }

            .socialBurger a{
              text-decoration: none;
              color: #909096;
            }

            #logoInBurger{
              padding-top: 15px;
              padding-bottom: 3px;
            }
            



            
            







            





            .fade-in {
              opacity: 1;
              animation-name: fadeInOpacity;
              animation-iteration-count: 1;
              animation-timing-function: ease-in;
              animation-duration: 1s;
            }
            
            @keyframes fadeInOpacity {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }

            @keyframes fadeOutOpacity {
              0% {
                opacity: 1;
              }
              100% {
                opacity: 0;
              }
            }
            






        

            label{
               display:flex;
               flex-direction:column;
               flex-wrap: wrap;
               width:70px;
               cursor:pointer;
               position: absolute;
               top: 10px;
               left: 10px;
               background-color: black;
               width: 40px;
               padding-bottom: 5px;
               padding-top: 5px;
               padding-left: 15px;
               
             }
             
             label span{
               background: #fff;
               
               height:5px;
               margin: 5px 0;
               transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
             
             }
             
             
             span:nth-of-type(1){
               width:25px;
               
             }
             
             span:nth-of-type(2){
               width:25px;
             }
             
             
             span:nth-of-type(3){
               width:25px;
              
             }
             
             
             input[type="checkbox"]{
               display:none;
             }
             
             
             input[type="checkbox"]:checked ~ span:nth-of-type(1){
               transform-origin:bottom;
               transform:rotatez(46deg) translate(8px,0px);
               width: 25px;

             }
             
             
             input[type="checkbox"]:checked ~ span:nth-of-type(2){
               
               transform-origin:top;
               transform:rotatez(-45deg);
               width: 50px;
             }
             
             
             input[type="checkbox"]:checked ~ span:nth-of-type(3){
               
               transform-origin:bottom;
               width: 25px;
               transform: translate(20px,-11px) rotatez(45deg);
             
             }
            
            /************** BURGER  ******************/





/***************** MENU *****************/







/***************** HEADER *****************/

.header{
    overflow:hidden;
    cursor:pointer;
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

.yayab{
  max-width: fit-content;
  grid-column: 11/12;
  grid-row: 2;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.158);
  
}
/***************** HEADER *****************/






/***************** GLOBAL *****************/

.below{
    z-index: -1;
}


body{
  margin: 0%;
  font-family: Mont;
  color: white;
  background-color: #1d1d1d;
  overflow: hidden;
}

/***************** GLOBAL *****************/

  
