/***************** BOOTSTRAP *****************/

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}




@font-face {
    font-family: Mont;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
   
}

/***************** BOOTSTRAP *****************/


/***************** CURSOR *****************/
.p {
  position:absolute;
  z-index: -1;
  top:-6px;
  left:-3px;
  width:5px;
  height:5px;
  border-radius:50%;
  background:radial-gradient(rgba(0,255,0,.5),rgba(0,255,0,0));;
}
/***************** CURSOR *****************/







/***************** MENU *****************/

#menu{
    background-color: #181818;
    height: 100vh;
    display :flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 8.5em;
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
    position: fixed;
}

#logo{
    display: flex;
    flex-wrap: wrap;
    position: relative ;
    top: 0%;
    left: 0;
    margin: 15% 0 0 21%;
    border-bottom: solid 1px rgba(194, 199, 196, 0.301);
    padding-bottom : 1.25em ;

}

.identity{
    margin-bottom: 5em;
    font-size: 1.1em;
  }

.identity h4{
  padding-left: 5%;
  padding-right: 5%;
}

.sidenav a::before {
    top: 0; bottom: 0; left: 0; 
    height: 100%; width: 0%;
    transition: 0.3s ease-out;
  }
  .sidenav a:hover::before {
    width: 100%;
  }

  .links{
    border-top: solid 1px rgba(194, 199, 196, 0.301);

  }

  .sidenav{
    margin-bottom: 7em;

  }

  .sidenav a {
    padding : 1.25em 0;
    text-decoration: none;
    font-size: 25px;
    color: rgb(194, 199, 196);
    display: block;
    font-size: large;
    transition: 0.2s;

  }
  #lasta{
      border-bottom:solid 1px rgba(194, 199, 196, 0.301);
  }
  
  .sidenav a:hover {
    color:rgb(9, 241, 9);
    transition: 0.2s 0.1s;

  }

.social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 2em;
}  



@media all and (max-width: 1000px){
    #menu{
      display: none;
    }
    .toggleBurgerBtn{
      display: block;
    }

  .toggleBurgerMenu{
    display: none;
  }


}

@media all and (min-width: 1000px){
  #menu{
    display: block;
  }
  .toggleBurgerBtn{
    display: none;
  }
  .toggleBurgerMenu{
    display: none;
  }
}







            /************** BURGER  ******************/


            .toggleBurgerBtn:checked ~ .toggleBurgerMenu {
              display: block;
            }

            



            

            /************** BURGER  ******************/





/***************** MENU *****************/







/***************** HEADER *****************/

.header{
    overflow:hidden;
    cursor:pointer;
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

.yayab{
  max-width: fit-content;
  grid-column: 11/12;
  grid-row: 2;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.158);
  
}
/***************** HEADER *****************/






/***************** GLOBAL *****************/

.below{
    z-index: -1;
}


body{
  margin: 0%;
  font-family: Mont;
  color: white;
  background-color: #1d1d1d;
  overflow: hidden;
}

/***************** GLOBAL *****************/

  
